*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: auto;
}

.logo{
    position: relative;
    display: inline-block;
    height: 180px;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-color: #0f25f2a3;
}

.booleaner-logo{
    width: 460px;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url(../img/logo.svg);
    background-size: cover;

}

.contenitore{
    width: 70%;
    margin: auto;

}

h1{
    font-size: 70px;
}

h3{
    font-size: 30px;
    color: #4a4a4df6;
}

h5{
    font-size: 15px;
    color: #4a4a4df6;
}

h6{
    font-size: 18px;
    color: #4a4a4df6;
}

.lorem1{
    margin-top: 50px;
    height: 130px;

}

.paragrafo{
    font-size: 15px;
    font-weight: 600;
    display: inline-block;

}

ul{
    margin-bottom: 30px;
}

thead{
    height: 10px;
    background-color: #0019faf5;
    color: white;
}

th{
    width: 400px;
}

#tab-sinistra, #tab-destra{
    background-color: #3283fc;

}

#sfondo-giallo{
    display: inline-block;
    background-color: yellow;
    width: auto;
}

footer{
    position: relative;
}

.container{
    width: 312px;
    height: 208px;
}

.container.A{
    position: absolute;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}

.container.B{
    position: absolute;
    top: 260px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
}

#footer-text{
    color: white;
    font-size: 25px;
}